@using mosPortal.Models
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{ 
    String fullUserName = "";
    String role = "";
    User user = await UserManager.GetUserAsync(User);
    if (user != null)
    {
        fullUserName = user.Firstname + " " + user.Name;
        IList<String> roles = await UserManager.GetRolesAsync(user);
        if (roles != null)
        {
            role = roles[0];
        }
        else
        {
            role = "SuperUser";
        }
    }
    else
    {
        fullUserName = "Heinz Günther";
        role = "SuperUser";
    }



}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Verwaltung</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/admin_template/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/admin_template/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="~/admin_template/css/fontastic.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/admin_template/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/admin_template/css/custom.css">
    <!-- Morris Charts CSS -->
    <link href="~/css/plugins/morris.css" rel="stylesheet">

    <link href="~/vanilla/vanilla-notify.css" rel="stylesheet" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/admin_template/img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!-- JavaScript files-->
    <script src="~/admin_template/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin_template/vendor/popper.js/umd/popper.min.js"></script>
    <script src="~/admin_template/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/admin_template/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/admin_template/vendor/chart.js/Chart.min.js"></script>
    <script src="~/admin_template/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/admin_template/js/charts-home.js"></script>
    <script src="~/js/morris/raphael.min.js"></script>
    <script src="~/js/morris/morris.min.js"></script>
    <script src="~/js/morris/morris-data.js"></script>
    <script src="~/vanilla/vanilla-notify.js"></script>
    <!-- Main File-->
    <script src="~/admin_template/js/front.js"></script>
</head>
<body>
    <div class="page">
        <!-- Main Navbar-->
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand --><a href="~/admin_template/index.html" class="navbar-brand d-none d-sm-inline-block">
                                <div class="brand-text d-none d-lg-inline-block"><span>mosportal </span><strong>Verwaltung</strong></div>
                                <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div>
                            </a>
                            <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                       
                            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                                <!-- Notifications-->
                                <li class="nav-item dropdown">
                                    <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-bell-o"></i><span class="badge bg-red badge-corner">12</span></a>
                                    <ul aria-labelledby="notifications" class="dropdown-menu">
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification">
                                                    <div class="notification-content"><i class="fa fa-envelope bg-green"></i>You have 6 new messages </div>
                                                    <div class="notification-time"><small>4 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification">
                                                    <div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have 2 followers</div>
                                                    <div class="notification-time"><small>4 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification">
                                                    <div class="notification-content"><i class="fa fa-upload bg-orange"></i>Server Rebooted</div>
                                                    <div class="notification-time"><small>4 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification">
                                                    <div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have 2 followers</div>
                                                    <div class="notification-time"><small>10 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>view all notifications                                            </strong></a></li>
                                    </ul>
                                </li>
                                <!-- Messages                        -->
                                <li class="nav-item dropdown">
                                    <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope-o"></i><span class="badge bg-orange badge-corner">10</span></a>
                                    <ul aria-labelledby="notifications" class="dropdown-menu">
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="~/admin_template/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Jason Doe</h3><span>Sent You Message</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="~/admin_template/img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Frank Williams</h3><span>Sent You Message</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="~/admin_template/img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Ashley Wood</h3><span>Sent You Message</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>Read all messages   </strong></a></li>
                                    </ul>
                                </li>
                                <!--Back to Home-->
                                <li class="nav-item"><a asp-action="Index" asp-controller="Home" class="nav-link logout"> <i class="fa fa-home"></i><span class="d-none d-sm-inline"> Home</span></a></li>
                                <!-- Logout    -->

                                <li class="nav-item">
                                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                        @*<button type="submit"><i class="fa fa-fw fa-power-off"></i>Log Out</button>*@
                                        <a hrfe="#" class="nav-link logout"> <span class="d-none d-sm-inline" onclick="document.getElementById('logoutForm').submit();">Logout</span><i class="fa fa-sign-out"></i></a>
                                    </form>
                                </li>


                        </ul>

                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center">
                    <div class="avatar"><img src="~/img/avatar/boy-1.svg" alt="..." class="img-fluid rounded-circle"></div>
                    <div class="title">
                        <h1 class="h4">@fullUserName</h1>
                        <p>@role</p>
                    </div>
                </div>
                <!-- Sidebar Navidation Menus-->
                <span class="heading">Navigation</span>
                <ul class="list-unstyled">
                    <li id="linkHome"><a asp-action="Index" asp-controller="Administration"> <i class="icon-home"></i>Home </a></li>
                    <li id="linkConcerns"><a asp-action="ShowConcerns" asp-controller="Administration"> <i class="icon-interface-windows"></i>Anliegen </a></li>
                    <li id="linkPolls"><a asp-action="ShowPolls" asp-controller="Administration"> <i class="fa fa-bar-chart"></i>Umfragen </a></li>    
                <li><a href="~/admin_template/tables.html"> <i class="icon-grid"></i>Tables </a></li>
                    <li><a href="~/admin_template/charts.html"> <i class="fa fa-bar-chart"></i>Charts </a></li>
                    <li><a href="~/admin_template/charts.html"s> <i class="fa fa-bar-chart"></i>Charts </a></li>
                    <li><a href="~/admin_template/forms.html"> <i class="icon-padnote"></i>Forms </a></li>
                    <li>
                        <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-user"></i>Administration </a>
                        <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                            <li><a href="#">Benutzer verwalten</a></li>
                            <li><a href="#">Test</a></li>
                            <li><a href="#">Test</a></li>
                        </ul>
                    </li>
                    <li><a href="~/admin_template/login.html"> <i class="icon-interface-windows"></i>Login page </a></li>
                </ul><span class="heading">Extras</span>
                <ul class="list-unstyled">
                    <li> <a href="#"> <i class="icon-flask"></i>Demo </a></li>
                    <li> <a href="#"> <i class="icon-screen"></i>Demo </a></li>
                    <li> <a href="#"> <i class="icon-mail"></i>Demo </a></li>
                    <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li>
                </ul>
            </nav>
            <div class="content-inner">
                @RenderBody()
                    <!-- Page Footer-->
        <footer class="main-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Einwohnerbeteiligung Stadt Mosbach &copy; 2019</p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <p>Design by <a href="https://github.com/granaderainer/mosBuergerPortal/graphs/contributors" class="external">Daniel1893 and Granaderainer</a></p>
                        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                    </div>
                </div>
            </div>
        </footer>
    </div>
            </div>
        </div>

</body>
</html>
