
@{
    ViewData["Title"] = "_CarouselPartial";
}
<div class="home-carousel">
    <div class="dark-mask mask-primary"></div>
    <div class="container">
        <div class="homepage owl-carousel">
            <div class="item">
                <div class="row">
                    <div class="col-md-5">
                       <h3>Sportpark nun eröffnet!</h3>
                       <p class="small">Durch die Anregung und rege Beteiligung der Einwohner der Stadt Mosbach wurde heute, am 23.11.2018 der neue Outdoor-Sportpark im Elzpark eröffnet! Zur feierlichen Einweihung versammelten sich rund 350 sportbegeisterte Mosbacher.</p>
                    </div>
                    <div class="col-md-7 text-center"><img src="~/admin_template/img/group/IndexPic1.jpg" alt="" class="img-fluid h-75 w-75 img-thumbnail"></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-7 text-center"><img src="~/admin_template/img/group/IndexPic2.jpg" alt="" class="img-fluid h-75 w-75 img-thumbnail"></div>
                    <div class="col-md-5">
                        <h3>Hausfassade des Kulturzentrums neu gestrichen!</h3>
                        <p class="small">Aufmerksame Einwohner Mosbachs wiesen über das neue Bürgerbeteiligungsportal auf die Verfärbungen an der weißen Fassade hin. Durch ein hohes Interesse konnte dies nun fachmännisch und schnell ausgebessert werden.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-5">
                        <h3>Neues Bepflanzungskonzept rund um das Denkmal!</h3>
                        <p class="small">Am 22.01.2019 wurde durch die Einwohner der Stadt Mosbach das neue Bepflanzungskonzept entschieden. Ab Frühjahr des Jahres 2019 wird nun auf Rosensträucher und Lavendel gesetzt.</p>
                    </div>
                    <div class="col-md-7 text-center"><img src="~/admin_template/img/group/IndexPic3.jpg" alt="" class="img-fluid h-75 w-75 img-thumbnail"></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-7 text-center"><img src="~/admin_template/img/group/IndexPic4.jpg" alt="" class="img-fluid h-75 w-75 img-thumbnail"></div>
                    <div class="col-md-5">
                        <h3>Öffentlicher Kräutergarten im Elzpark!</h3>
                        <p class="small">Aufgrund einer Bürgerinitiative dürfen wir ab Mitte des Jahres 2019 einen neuen, öffentlichen Kräutergarten vorstellen. Gepflegt wird dieser durch die neu ins Leben gerufene „Initiative Gartenbau“. Alle Einwohner können sich gegen ein kleines Entgelt selbst Gartenkräuter pflücken. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
