<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4 class="h6">Über uns</h4>
                <p>Wir sind eine Gruppe von hochmotivierten Studenten der DHBW Mosbach.</p>
                <hr class="d-block d-lg-none">
            </div>
            <div class="col-lg-4">
                <h4 class="h6">Kontakt</h4>
                <p class="text-uppercase"><strong>DHBW Mosbach</strong><br>Lohrtalweg 17<br>74821 Mosbach<br>Deutschland<br></p>
                <hr class="d-block d-lg-none">
            </div>
            <div class="col-lg-4">
                <h4 class="h6">Impressum</h4>
                @*<a asp-action="ShowImpressum" asp-controller="Home" class="btn btn-template-main">Impressum</a>*@
                <hr class="d-block d-lg-none">
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center-md">
                    <p>&copy; 2018. NoNameOrganisation / Studenten</p>
                </div>
                <div class="col-lg-8 text-right text-center-md">
                    <p>Template design by <a href="https://bootstrapious.com/free-templates">Bootstrapious Templates </a></p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </div>
</footer>
