
@{
    ViewData["Title"] = "_IconPartial";
}
<section class="bar background-white">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="box-simple">
                    <div class="icon-outlined"><i class="fa fa-desktop"></i></div>
                    <h3 class="h4">Über das Portal</h3>
                    <p>Mit dem Bürgerbeteiligungsportal können Sie, als Einwohner der Stadt Mosbach, Ihre Meinungen und Ideen miteinfließen lassen. Beteiligen Sie sich an Planungen, Maßnahmen und Entscheidungen rund um die Stadt Mosbach. Wir freuen uns auf Ihre Ideen.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box-simple">
                    <div class="icon-outlined"><i class="fa fa-lightbulb-o"></i></div>
                    <h3 class="h4">Registrierung</h3>
                    <p>Registrieren Sie sich ganz einfach mit Ihrem PIN aus dem erhaltenen Brief der Stadt Mosbach. Bei Problemen wenden Sie sich bitte an das zuständige Amt.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box-simple">
                    <div class="icon-outlined"><i class="fa fa-arrow-right"></i></div>
                    <h3 class="h4">Ablauf</h3>
                    <p>Damit ihr Anliegen umgesetzt werden kann, benötigt es der Zustimmung anderer Einwohner der Stadt Mosbach, sowie die Genehmigung durch die Stadt. Der genaue Ablauf von Anliegen bis zur Umsetzung finden Sie <a href="#">hier</a>.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="box-simple">
                    <div class="icon-outlined"><i class="fa fa-exclamation"></i></div>
                    <h3 class="h4">Anliegen</h3>
                    <p>Ihre Ideen können Sie als Anliegen im Bürgerbeteiligungsportal teilen und zum Voten freigeben. Andere geteilte Anliegen von Einwohnern können Sie Abtimmen.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box-simple">
                    <div class="icon-outlined"><i class="fa fa-hand-paper-o"></i></div>
                    <h3 class="h4">Umfragen</h3>
                    <p>Bei bestehendem Interesse der Einwohner für ein Anliegen wird dieses zur Umfrage freigegeben. Stimmen Sie für Umfragen innerhalb der Frist ab und sorgen Sie für die Umsetzung.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box-simple">
                    <div class="icon-outlined"><i class="fa fa-question"></i></div>
                    <h3 class="h4">Hilfe</h3>
                    <p>Bei Problemen seitens der Registrierung oder Fragen zu allgemeinen Themen im Bürgerbeteiligungsportal, steht Ihnen unser Servicecenter zur Verfügung. Nähere Informationen finden Sie im Impressum.</p>
                </div>
            </div>
        </div>
    </div>
</section>