
@{
    ViewData["Title"] = "Impressum";
}
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">Impressum</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                   <li class="breadcrumb-item active">Impressum</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page Content -->
<div class="container">
    <div class="bar">
    
    <h3>Angaben gem&auml;&szlig; &sect; 5 TMG</h3>
    <p>
        Daniel Klimmer<br />
        Musterstra&szlig;e 100<br />
        74821 Mosbach
    </p>

    <h3>Kontakt</h3>
    <p>
        Telefon: +49 (0) 123 44 55 66<br />
        Telefax: +49 (0) 123 44 55 99<br />
        E-Mail:
    </p>

    <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    </div>
</div>