@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<header class="nav-holder make-sticky">
    <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand home">
                <img src="~/admin_template/img/logogroup/logo_group.png" style="height: 3em" alt="" class="d-none d-md-inline-block"><img src="~/admin_template/img/logogroup/logo_group.png" style="height: 3em" alt="" class="d-inline-block d-md-none"><span class="sr-only">Home</span>
            </a>
            <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i>
            </button>
            <div id="navigation" class="navbar-collapse collapse">

                <ul class="nav navbar-nav ml-auto" id="mainMenu">
                    <li class="nav-item dropdown  menu-large" id="NavHome">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home <b class="caret"></b></a>
                    </li>
                    <li class="nav-item dropdown menu-large" id="NavConcern">
                        <a asp-area="" asp-controller="Home" asp-action="ShowConcerns">Anliegen <b class="caret"></b></a>
                    </li>
                    <li class="nav-item dropdown menu-large" id="NavPoll">
                        <a asp-area="" asp-controller="Home" asp-action="ShowPolls">Umfragen <b class="caret"></b></a>
                    </li>
                    <li class="nav-item dropdown menu-large" id="NavAdmin">
                        <a asp-area="" asp-controller="Home" asp-action="ShowPollResults">Ergebnisse <b class="caret"></b></a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        if ((await AuthorizationService.AuthorizeAsync(User, "AllAdministrationRoles")).Succeeded)
                        {
                            <li class="nav-item dropdown menu-large" id="NavAdmin">
                                <a asp-area="" asp-controller="Administration" asp-action="Index">Verwaltung <b class="caret"></b></a>
                            </li>
                        }
                    }

                </ul>

            </div>
        </div>
    </div>
</header>