@*@{
    ViewData["Title"] = "_CarouselPartial";
}*@
<ul class="owl-carousel testimonials list-unstyled equal-height">
    <li class="item">
        <div class="testimonial d-flex flex-wrap">
            <div class="text">
                <p>Es ist schön sich an den Umfragen beteiligen zu können und mitzuentscheiden, was bei uns in der Stadt Mosbach umgesetzt wird. Durch die leichte Handhabung und die übersichtliche Seite kann man sich schnell zurechtfinden.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                <div class="icon">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="testimonial-info d-flex">
                    <div class="title">
                        <h5>Jürgen Eberhart</h5>
                        <p>Bürger, Mosbach</p>
                    </div>
                    <div class="avatar">
                        <img alt="" src="~/user_template/img/person-1.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="item">
        <div class="testimonial d-flex flex-wrap">
            <div class="text">
                <p>Ich kann jetzt bequem von zu Hause oder auch unterwegs meine Anliegen einreichen und ohne großen Aufwand mitbestimmen. </p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                <div class="icon">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="testimonial-info d-flex">
                    <div class="title">
                        <h5>Marco Barth</h5>
                        <p>Bürger, Mosbach</p>
                    </div>
                    <div class="avatar">
                        <img alt="" src="~/user_template/img/person-2.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="item">
        <div class="testimonial d-flex flex-wrap">
            <div class="text">
                <p>Der Spielplatz wurde endlich renoviert! Dank dem Bürgerbeteiligungsportal geht es voran und die Stadt bekommt mit, wo die Probleme in Mosbach liegen.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                <div class="icon">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="testimonial-info d-flex">
                    <div class="title">
                        <h5>Birgit Beike</h5>
                        <p>Bürger, Mosbach</p>
                    </div>
                    <div class="avatar">
                        <img alt="" src="~/user_template/img/person-3.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="item">
        <div class="testimonial d-flex flex-wrap">
            <div class="text">
                <p>Gute Idee! Es ist modern und einfach.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                <div class="icon">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="testimonial-info d-flex">
                    <div class="title">
                        <h5>Tom Weisz</h5>
                        <p>Bürger, Mosbach</p>
                    </div>
                    <div class="avatar">
                        <img alt="" src="~/user_template/img/person-4.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="item">
        <div class="testimonial d-flex flex-wrap">
            <div class="text">
                <p>Ich finde es schön meine Meinung auch digital äußern zu können.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                <div class="icon">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="testimonial-info d-flex">
                    <div class="title">
                        <h5>Florian Mauer</h5>
                        <p>Bürger, Mosbach</p>
                    </div>
                    <div class="avatar">
                        <img alt="" src="~/user_template/img/person-1.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>