@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "_TopBarPartial";
    string mail = "info@mos-buergerportal.de";
    string tel = "+496261 123 456";
    string github = "https://github.com/granaderainer/mosBuergerPortal";
}

<div class="top-bar">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 d-md-block d-none">
                <p>Kontaktiere uns <a href="callto:@tel" style="text-decoration: none; color: unset"><span><i class="fa fa-phone mx-2 "></i>@tel</span><span class="ml-2">oder</span><span class="ml-2"></span></a><a href="mailto:@mail" style="text-decoration: none; color: unset"><span class="list-inline-item"><i class="fa fa-envelope mr-2"></i>@mail.</span></a></p>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-md-end justify-content-between">
                    <ul class="list-inline contact-info d-block d-md-none">
                        <li class="list-inline-item"><a href="callto:@tel"><i class="fa fa-phone"></i></a></li>
                        <li class="list-inline-item"><a href="mailto:@mail"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                    <ul class="list-inline d-block">

                        @if (SignInManager.IsSignedIn(User))
                        {<li>
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                            <a href="#" onclick="document.getElementById('logoutForm').submit();" class="login-btn list-inline-item"><i class="fa fa-power-off"></i><span class="d-md-inline-block">Logout</span></a>
                        </form>
                         </li>
                        }
                        else
                        {
                         <li> <a asp-area="" asp-action="Login" asp-controller="Account" asp-route-returnUrl="@ViewData["ReturnUrl"]" data-toggle="modal" data-target="#modal" class="login-btn list-inline-item"><i class="fa fa-sign-in"></i><span class="d-md-inline-block">Login</span></a></li>
                        }
                    </ul>
                        <ul class="social-custom list-inline">
                            <li class="list-inline-item"><a target="_blank" rel="noopener noreferrer" href="@github"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</div>


