@model ErrorViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{

    ViewData["Title"] = "Error";
}


@if (Model.ShowRequestId)
{

    <div id="content">
        <div class="container">
            <div id="error-page" class="col-md-8 mx-auto text-center">
                <div class="box">
                    <p class="text-center"><a asp-area="" asp-action="index" asp-controller="Home"><img style="height: 6em" src="~/admin_template/img/logogroup/logo_group.png" alt=""></a></p>
                    <h3>Tut uns Leid - Die Seite ist nicht verfügbar</h3>
                    <h4 class="text-muted">Error 404 - Seite nicht gefunden</h4>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "AllAdministrationRoles")).Succeeded)
                    {
                        <p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
                    }
                    <p class="buttons"><a asp-area="" asp-action="index" asp-controller="Home" class="btn btn-template-outlined"><i class="fa fa-home"></i> Go to Homepage</a></p>

                </div>
            </div>

         </div>
    </div>
}

