@model mosPortal.Models.Concern
@{
}
<!-- Modal -->
<div class="modal fade" id="createConcernModal" tabindex="-1" role="dialog" aria-labelledby="createConcernModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="CreateConcernAsync" asp-controller="Home" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title">Neues Anliegen anlegen</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        @*<label asp-for="Title" class="control-label"></label>*@
                        <input name="Title" class="form-control" />
                        @*<span asp-validation-for="Title" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        @*<label asp-for="Text" class="control-label"></label>*@
                        <textarea name="Text" class="form-control"></textarea>
                        @*<span asp-validation-for="Text" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        @*<label asp-for="CategoryId" class="control-label"></label>*@
                        <select name="CategoryId" class="form-control" asp-items="ViewBag.CategoriesList"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary">Anlegen</button>

                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#createConcernModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        //var concernId = button.data('concernid') // Extract info from data-* attributes
        //test(concernId)
    });

</script>