@model Concern
@{
}
<!-- Modal -->
<div class="modal fade" id="createConcernModal" tabindex="-1" role="dialog" aria-labelledby="createConcernModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" asp-action="CreateConcernAsync" asp-controller="Home">
                <div class="modal-header">
                    <div class="col-11">
                        <h4 class="modal-title">Neues Anliegen anlegen</h4>
                    </div>
                    <div class="col-1 pull-right">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    </div>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Title">Überschrift</label>
                        <input name="Title" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="Text">Beschreibung</label>
                        <textarea name="Text" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="CategoryId">Kategorie</label>
                        <select name="CategoryId" class="form-control" asp-items="ViewBag.CategoriesList"></select>
                    </div>
                    <div class="form-group">
                        <span id="tooltipFile"class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="left" title="Nur PDFs und Bilder werden unterstützt">
                            <input id="file" type="file" name="files" class="form-control-file" accept=".pdf, image/*," multiple/>
                        </span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" value="Upload "class="btn btn-primary">Anlegen</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="tooltip bs-tooltip-top" role="tooltip">
    <div class="arrow"></div>
    <div class="tooltip-inner">
        Some tooltip text!
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
    $('#createConcernModal').on('show.bs.modal',
        function(event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            //var concernId = button.data('concernid') // Extract info from data-* attributes
            //test(concernId)
        });
</script>