<div id="createPollModal" tabindex="-1" role="dialog" aria-labelledby="createPollModalLabel" aria-hidden="true" class="modal fade text-left ">
    <div role="document" class="modal-dialog modal-lg">
        <div class="modal-content">
                <div class="modal-header">
                    <h4 id="exampleModalLabel" class="modal-title">Neue Umfrage</h4>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <input id="pollConcernIdModal" class="form-control" type="hidden" />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Titel</label>
                        <input id="pollTitleModal" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Text</label>
                        <textarea id="pollTextModal" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Ablaufdatum</label>
                        <input id="pollEndModal" class="form-control" type="date" />
                    </div>
                    <div id="pollFileHeader" style="display:none;">
                        <label class="col-md-6 control-label">Dateien</label>
                    </div>
                    <div id="pollFile" style="display:none;">

                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label">Abstimmung Gemeinderat</label>
                        <br />
                        <input id="pollNeedsLocalCouncilModal" name="NeedsLocalCouncil" type="radio" /> Ja <br />
                        <input id="pollNeedsLocalCouncilModal" name="NeedsLocalCouncil" type="radio" checked /> Nein
                    </div>

                    <div class="form-group">
                        <label class=" col-md-2 control-label">Kategorie</label>
                        <select id="pollSelectCategoryModal" class="form-control" asp-items="ViewBag.CategoriesList"></select>

                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label">Kommentar vom Germeinderat</label>
                        <textarea id="pollCommentModal" class="form-control" disabled="disabled"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="sets" class="col-md-2 control-label">Antwortmöglichkeiten</label><br /><br />
                        <fieldset class="form-add-set">
                            <div class="col-md-10">
                                <div class="add-sets">
                                    <div class="form-inline add-set">
                                        <div class="form-group">
                                            <label class="control-label">Antwort</label>
                                            <input type="text" class="form-control" name="answers" />
                                            @*<select class="form-control" asp-items="ViewBag.AnswerOptionsList"></select>*@
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-remove-set btn-danger" data-toggle="tooltip" title="Antwort Entfernen"><span class="fa fa-minus"></span></button>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-add-set">Hinzufügen</button>
                            </div>
                        </fieldset>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Abbrechen</button>
                    <input type="submit" data-dismiss="modal" class="btn btn-primary" onclick="createPoll()"value="Erstellen"/>
                </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var date = new Date();
        var minDate = new Date(date.setMonth(date.getMonth() + 1));
        var maxDate = new Date(date.setMonth(date.getMonth() + 6));
        var minMonth = (minDate.getMonth() + 1);
        var minMonthString = "-";
        if (minMonth < 10) {
            minMonthString = minMonthString + "0" + minMonth;
        }
        var maxMonth = (maxDate.getMonth() + 1);
        var maxMonthString = "-";
        if (maxMonth < 10) {
            maxMonthString = maxMonthString + "0" + maxMonth;
        }
        var minDateString = minDate.getFullYear() + minMonthString + "-" + minDate.getDate();
        var maxDateString = maxDate.getFullYear() + maxMonthString + "-" + maxDate.getDate();
        document.getElementById("pollEndModal").setAttribute("min", minDateString);
        document.getElementById("pollEndModal").setAttribute("max", maxDateString);
        document.getElementById("pollEndModal").setAttribute("value", minDateString);
        var wrapper = $('.add-sets');

        $(".btn-add-set").click(function (e) {
            e.preventDefault();
            $('.add-set:first-child').clone(true).appendTo(wrapper);

            $('.add-set .btn-remove-set').show();
        });

        $('.btn-remove-set').click(function (e) {
            e.preventDefault();
            $(this).parents('.add-set').remove();

            removeButton();
        });
        $('.')

        function removeButton() {
            if ($('.add-set').length == 1) {
                $('.add-set .btn-remove-set').hide();
            }
        }

    });
    
</script>