@model mosPortal.Models.Randomkey

@{
    ViewData["Title"] = "Registrierungsschlüssel";
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Anliegen</h2>
    </div>
</header>
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Administration">Home</a></li>
        <li class="breadcrumb-item active">Anliegen            </li>
    </ul>
</div>

<section class="forms">
<div class="container-fluid">

    <div class="row">
        <!-- Inline Form-->
        <form>
            <div class="col-lg-12">

                <label title="Registrierungsschlüssel" />
                <i class="fa fa-lock"></i><input type="text" class="" maxlength="11" minlength="11" value="@Model.Key" readonly />
                <button class="btn btn-primary" asp-controller="Administration" asp-action="GenerateWord">Download</button>
            </div>
        </form>
        </div>
</div>
</section>