@model mosPortal.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Registrieren";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
<div class="container">
    <div class="row">
        @*Abstand mit Klasse bar*@
        <div class="col-md-3">
            <!-- PAGES MENU -->
            <div class="panel panel-default sidebar-menu">
                <div class="panel-heading">
                    <h3 class="h4 panel-title">Links</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills flex-column text-sm">
                        <li class="nav-item"><a asp-action="ShowConcerns" asp-controller="Home" class="nav-link active"><i class="fa fa-list"></i> Anliegen</a></li>
                        <li class="nav-item"><a asp-action="ShowConcerns" asp-controller="Home" class="nav-link"><i class="fa fa-question-circle"></i> Umfragen</a></li>
                        <li class="nav-item"><a asp-area="" asp-action="Login" asp-controller="Account" asp-route-returnUrl="@ViewData["ReturnUrl"]" data-toggle="modal" data-target="#modal" class="nav-link"><i class="fa fa-user"></i> Bereits Registriert?</a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
        <div id="customer-account" class="col-lg-9 clearfix">
            <div class="row">
                <div class="heading">
                    <h3 class="h4 panel-title text-uppercase">@ViewData["Title"]</h3>
                          
                </div>
                <div class="box mt-0">

                    
                        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Firstname"></label>
                                        <input asp-for="Firstname" class="form-control"/>
                                        <span asp-validation-for="Firstname" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Name"></label>
                                        <input asp-for="Name" class="form-control"/>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Username"></label>
                                        <input asp-for="Username" class="form-control"/>
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Password"></label>
                                        <input asp-for="Password" class="form-control"/>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword"></label>
                                        <input asp-for="ConfirmPassword" class="form-control"/>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control"/>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="Birthday"></label>
                                        <input asp-for="Birthday" class="form-control"/>
                                        <span asp-validation-for="Birthday" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="Birthplace"></label>
                                        <input asp-for="Birthplace" class="form-control"/>
                                        <span asp-validation-for="Birthplace" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Country"></label>
                                        <input asp-for="Country" class="form-control"/>
                                        <span asp-validation-for="Country" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="City"></label>
                                        <input asp-for="City" class="form-control"/>
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="ZipCode"></label>
                                        <input asp-for="ZipCode" class="form-control"/>
                                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Street"></label>
                                        <input asp-for="Street" class="form-control"/>
                                        <span asp-validation-for="Street" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Number"></label>
                                        <input asp-for="Number" class="form-control"/>
                                        <span asp-validation-for="Number" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-template-outlined"><i class="fa fa-save mr-1"></i>Registrieren</button>
                                </div>
                            </div>
                        </form>
                    
                </div>

            </div>
            

        </div>
 
    </div>
</div>
    </div>
    <div class="col-lg-3 mt-4 mt-lg-0">

    </div>





    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
